node_modules/
dist/
private/
demo/dist/
server/dist/
server/config.js
public/assets/
.claude/
.vscode/

# Logs
logs
*.log
*.code-workspace

# Debug screenshots
screenshot*.png
element*.png
